[Unit]
Description=MVB/CAN Logger
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/velog -m 199 /usr/bin/ttynvt

Restart=on-abort

[Install]
WantedBy=multi-user.target
